<div class="container">
  <footer class="footer">
    <small>
      The Application created by Tasnim Mansur for <a href="https://www.lanetteam.com"> Lanetteam. </a>
    </small>

    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>