<div class="container">
  <footer class="footer">
    <small>
      The Application by <a href="https://www.lanetteam.com"> Lanetteam</a>
      by <a href="https://lanetteam.tasnimm@gmail.com">Tasnim Mansur</a>
    </small>

    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>